h1 {
  display: grid;
  margin: auto;
  font-size: 15rem;
  line-height: 1.2;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: fit-content;
  color: rgb(255, 2, 2);
  text-align: center;
  filter: blur(4px);
}

nav ul li a {
  text-decoration: none;
  color: #ffff6f;
}
nav ul li a:hover {
  color: #ffff6f; /* Change text color */
  text-shadow: 0 0 10px #fff600; /* Optional: glow effect */
  transform: scale(1.5); /* Slightly enlarge */
  transition: all 0.2s; /* Smooth transition */
}
nav {
  display: flex;
  align-items: center;
  gap: 15rem;
}
nav ul li {
  list-style: none;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
}
.Index-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  display: block;
  margin-top: 8rem;
}
.scroll_section {
  text-align: center;
  max-width: 1100px;
  display: block;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
footer img {
  display: block;
  width: 10%;
  height: auto;
  margin-bottom: 10rem;
  margin: 10rem auto 0 auto;
}
footer p {
  text-align: center;
  color: #800000;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.h1-link {
  text-decoration: none;
  color: inherit;
}
p .h1-link:focus,
.h1-link:hover {
  color: #ff0000; /* Change text color */
  text-shadow: 0 0 10px #ff0000; /* Optional: glow effect */
  transform: scale(1.5); /* Slightly enlarge */
  transition: all 0.2s; /* Smooth transition */
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
h2 {
  color: #ffffff;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 6rem;
  margin-top: auto;
  margin-bottom: 0rem;
}
h3 {
  color: #ffff6f;
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 0;
}
h4 {
  color: #ff0000;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}
.ul_facts {
  grid-column: span 2; /* This makes the list span 2 columns */
  text-align: center;
  background-color: rgb(20, 33, 20);
  border: 4px solid #80ffbd;
  list-style: none;
}
.ul_facts a {
  color: #80ffbd;
}
.ul_facts a:hover {
  text-decoration: underline;
  color: rgb(255, 0, 0);
}
